html, body {
  height: 100%;
}
.header {
  background-color: #aaa;
}
.footer {
  background-color: #aaa;
}
.navbar-brand {
  margin: 10px;
}
.navbar-toggler {
  margin: 10px;
}
.col {
  margin: 5px;
  background-color: #aaa;
  border-radius: 1em;
}